body {
  background: linear-gradient(to bottom, #3c753f9a, #228896);
  height: 100%;
  color: black;
  text-align: center;
}
banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url(/imgs/01/a.jpg);
  background-repeat: no-repeat;
}
banner div {
  width: 30%;
}
@media screen and (max-width: 425px) {
  banner div {
    visibility: hidden;
  }
}
#name {
  color: #ffffffb3;
  font-size: 5em;
  font-weight: bolder;
  font-style: italic;
  -webkit-text-stroke: greenyellow 2px;
  -webkit-text-fill-color: #ffffffb3;
}
@media screen and (max-width: 425px) {
  #name {
    font-size: 3em;
    text-align: center;
  }
}
#about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 425px) {
  #about-section {
    flex-direction: column;
  }
}
#about-section div {
  width: 50%;
  padding: 2em;
}
@media screen and (max-width: 425px) {
  #about-section div {
    width: 90%;
    padding: 1em;
  }
}
#about-section div p {
  text-align: justify;
}
#about {
  font-size: 2em;
  font-weight: bold;
}
#collections {
  font-size: 2em;
  font-weight: bold;
}
#service {
  font-size: 2em;
  font-weight: bold;
}
card {
  border: 1px solid black;
  box-shadow: 2px 2px 5px #241c1c;
  border-radius: 0.5em;
  padding: 0.7em;
  background-image: radial-gradient(#f8c2c2, #c7fdc7, #b8e6f8);
}
.card-img {
  overflow: hidden;
  width: 80%;
  margin: auto;
}
.collections-img {
  box-shadow: 2px 2px 5px #241c1c;
  border-radius: 0.5em;
}
.collections-img:hover {
  scale: 1.1;
  transition: all;
  transition-duration: 0.5s;
}
#collections-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  width: 95%;
  margin: 2em auto;
  padding: 2em 0;
}
@media screen and (max-width: 425px) {
  #collections-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.truk-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  padding: 1em;
  /* justify-items: center; */
  align-items: center;
}
.truk-details p {
  text-align: left;
}
/* Default styles for the service section */
#services {
  text-align: center;
}

#services h2 {
  font-size: 2em;
  font-weight: bold;
}
#service-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 75%;
  margin: 2em auto;
  padding: 2em 0;
  gap: 5em;
}
@media screen and (max-width: 425px) {
  #service-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    padding: 1em;
    width: 85%;
  }
}
.service {
  margin-bottom: 40px;
  background-image: linear-gradient(to top, black, gray);
  color: white;
}

.service h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
  font-weight: 700;
}

.service p {
  font-size: 16px;
  line-height: 1.6;
}

.service {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
footer {
  background-color: #f2f2f2;
  color: #444;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
