body {
  background: linear-gradient(to bottom, #3b486b9a, #f8f79e);
  height: 100%;
  color: black;
  text-align: center;
}
banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url(/imgs/01/a.jpg);
  background-repeat: no-repeat;
}
banner div {
  width: 30%;
}
@media screen and (max-width: 320px) {
  banner div {
    visibility: hidden;
  }
}
#name {
  color: #ffffffb3;
  font-size: 5em;
  font-weight: bolder;
  font-style: italic;
  -webkit-text-stroke: greenyellow 2px;
  -webkit-text-fill-color: #ffffffb3;
}
@media screen and (max-width: 320px) {
  #name {
    font-size: 3em;
    text-align: center;
  }
}
#about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 320px) {
  #about-section {
    flex-direction: column;
  }
}
#about-section div {
  width: 50%;
  padding: 2em;
}
@media screen and (max-width: 320px) {
  #about-section div {
    width: 90%;
    padding: 1em;
  }
}
#about-section div p {
  text-align: justify;
}
#about {
  font-size: 2em;
  font-weight: bold;
}
#collections {
  font-size: 2em;
  font-weight: bold;
}
#service {
  font-size: 2em;
  font-weight: bold;
}
card {
  border: 1px solid black;
  box-shadow: 2px 2px 5px #241c1c;
  border-radius: 0.5em;
  padding: 0.7em;
  background-image: radial-gradient(#f8c2c2, #c7fdc7, #b8e6f8);
}
#collections-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  width: 95%;
  margin: 2em auto;
  padding: 2em 0;
}
@media screen and (max-width: 320px) {
  #collections-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.collections-img {
  box-shadow: 2px 2px 5px #241c1c;
  border-radius: 0.5em;
}
.truk-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  padding: 1em;
  /* justify-items: center; */
  align-items: center;
}
.truk-details p {
  text-align: left;
}
