body {
  background: linear-gradient(to bottom, #3b486b9a, #f8f79e);
  height: 100%;
  color: black;
  text-align: center;
}
banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url(/imgs/01/a.jpg);
  background-repeat: no-repeat;
}
banner div {
  width: 30%;
}
#name {
  color: #ffffffb3;
  font-size: 5em;
  font-weight: bolder;
  font-style: italic;
  -webkit-text-stroke: greenyellow 2px;
  -webkit-text-fill-color: #ffffffb3;
}
#about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#about-section div {
  width: 50%;
  padding: 2em;
}
#about-section div p {
  text-align: justify;
}
#about {
  font-size: 2em;
  font-weight: bold;
}
#collections {
  font-size: 2em;
  font-weight: bold;
}
card {
  border: 1px solid black;
  box-shadow: 2px 2px 5px #241c1c;
  border-radius: 0.5em;
  padding: 0.7em;
}
#collections-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  width: 95%;
  margin: 2em auto;
  padding: 2em 0;
}
.collections-img {
  box-shadow: 2px 2px 5px #241c1c;
  border-radius: 0.5em;
}
