body {
  background: linear-gradient(to bottom, #3b486b9a, #f8f79e);
  height: 100%;
  color: black;
  text-align: center;
}
banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url(/imgs/01/a.jpg);
  background-repeat: no-repeat;
}
banner div {
  width: 30%;
}
#name {
  color: #ffffffb3;
  font-size: 5em;
  font-weight: bolder;
  font-style: italic;
  -webkit-text-stroke: greenyellow 2px;
  -webkit-text-fill-color: #ffffffb3;
}
#about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#about-section div {
  width: 50%;
  padding: 2em;
}
#about-section div p {
  text-align: justify;
}
#about {
  font-size: 2em;
  font-weight: bold;
}
